/* regole generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* regole barra contatti,login ecc.. */

a {
  color: #33475b;
  text-decoration: none;
}

.navtop {
  width: 75%;
  margin: 0 auto;
}

.nav-contenitor {
  height: 70px;
  background-color: #F4F9FD;
  border-bottom: 1px solid #33475B;
}

a.buttonhubspot {
  color: white;
  padding: 10px;
  border-radius: 5px;
  background-color: #fe775a;
  border: 2px solid #fe775a;
}

.buttonlogin {
  color: #fe775a;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #fe775a;
}

.nav-left{
  float: left;
  line-height: 70px;
}

.nav-right{
  float: right;
  line-height: 70px;
}

.nav-left ul li, .nav-right ul li {
  display: inline-block;
  margin-right: 15px;
}

/* icone barra contatti,login ecc..  */

.fa-angle-down, .fa-search, .fa-globe-americas {
  margin: 0 10px;
  vertical-align: middle;
}

.fa-search {
  color: #00b5e2;
}
