/* regole generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

h2, p, span{
  color: #2a3f4f;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/* HEADER */

/* regole generali sezione nav */

.navreg {
  width: 75%;
  margin: 0 auto;
}

/* regole barra contatti,login ecc.. */

a {
  color: #33475b;
  text-decoration: none;
}

.nav-contenitor {
  height: 70px;
  background-color: #F4F9FD;
  border-bottom: 1px solid #33475B;
}

.buttonhubspot {
  color: white;
  padding: 7px;
  border-radius: 5px;
  background-color: #fd785c;
  border: 2px solid #fd785c;
}

.buttonlogin {
  color: #fe775a;
  padding: 7px;
  border-radius: 8px;
  border: 2px solid #fe775a;
}

.nav-left{
  float: left;
}

.nav-right{
  float: right;
}

.nav-left ul li, .nav-right ul li {
  display: inline-block;
  margin-right: 15px;
  line-height: 70px;
}

/* icone barra contatti,login ecc..  */

.fa-angle-down, .fa-search, .fa-globe-americas {
  margin: 0 10px;
  vertical-align: middle;
}

.fa-search {
  color: #00b5e2;
}

/* logo nav principale */

.logo-navbar div {
  line-height: 50px;
}

.logo {
  float: left;
}

.logo > img {
  margin: 0 10px;
  vertical-align: middle;
}

.logo-navbar nav {
  float: right;
}

.logo-navbar nav ul li {
  display: inline-block;
  margin-right: 15px;
}

/* jumbotron */

.header-jumbotron {
  height: 700px;
  width: 100%;
  position: relative;
  background-image: url("../img/jumbotron.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.home {
  width: 55%;
  position: relative;
  top: 60px;
}

.home > h1 {
  font-size: 50px;
}

.home > p {
  margin: 25px auto 35px;
  font-size: 15px;
  line-height: 2;
}

.home > span {
  display: block;
  margin-top: 30px;
  font-size: 10px;
}

.homes > a {
  text-align: center;
  padding: 15px;
}

  /* MAIN */

.sectioncentr {
    background-color: #f4f9fd;
    position: relative;
    padding: 5% 0;
  }

  /* regole sezione "cubo" */

.cube {
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  line-height: 2;
}

.cubereg {
  position: relative;
  width: 70%;
  margin: auto;
}

.cube img {
  max-width: 280px;
}
